body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
    text-align:center;
}

header{
    background:#0077cc;
    color:white;
    padding:30px;
}

.info{
    margin:40px;
    padding:20px;
    background:white;
    border-radius:10px;
}

button{
    padding:12px 25px;
    font-size:16px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#218838;
}

footer{
    margin-top:50px;
    padding:15px;
    background:#222;
    color:white;
}